.resume-company {
  font-style: italic;
}

.resume-job {
  margin-bottom: 0;
}


.resume-bullets li {
  margin-bottom: 0;
}


@media print {
  #headerGroup, #getPDFLink {
    display: none;
  }
  
}

@page { 
  margin: 1cm .25cm;  
} 