@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #000;
}

@media (max-width: 480px) {
    .hide-small-screens {
       display: none;
    }
 }