@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #000;
}

@media (max-width: 480px) {
    .hide-small-screens {
       display: none;
    }
 }

 .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}